doctype html
// Home page
- var appname = 'loanapp';
- var title = 'Auto Loans';
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/css/loanapp.css')
  body(onload='toggle("loanTypeMenu")')
    div(class='header')
      include header.pug
    div(class='menubar')
      include menu.pug
    div(class='body')
      p(class='text') An auto loan, also known as a car loan, is a type of loan that allows individuals to borrow money to purchase a vehicle, with the vehicle itself serving as collateral. The borrower makes regular payments, including interest, to the lender over a set period until the loan is repaid. 
      p(class='text')
      p(class='text') Auto loans are typically secured loans, meaning the lender has a claim on the vehicle until the loan is fully paid off. If the borrower defaults on the loan, the lender can repossess the vehicle to recover their losses.
      p(class='text')
      p(class='subheading') Purpose
      p(class='text') The primary purpose of an auto loan is to finance the purchase of a car, truck, motorcycle, or other vehicle. 
      p(class='text')
      p(class='subheading') Loan Structure
      p(class='text') An auto loan typically involves a down payment (a portion of the vehicle's price paid upfront) and monthly payments that include both the principal (the amount borrowed) and interest. 
      p(class='text')
      p(class='text') Interest rates on auto loans can vary based on factors like the borrower's credit score, the type of vehicle (new or used), the loan term, and the lender. 
      p(class='text')
      p(class='text') Auto loans can have varying terms, ranging from a few years to several years, which affects the monthly payment amount and the total interest paid. 
      p(class='text')
      p(class='subheading') Types of Auto Loans:
      p(class='text') There are different types of auto loans, including direct loans (where the borrower secures the loan directly from a bank or credit union) and indirect loans (where the dealership facilitates the loan with a lender). 
      p(class='text') 
      p(class='subheading') Comparison with Personal Loans:
      p(class='text') While personal loans can also be used to buy a car, they are often unsecured and may have higher interest rates than auto loans. Auto loans are specifically designed for vehicle purchases and often come with more favorable terms when buying a car. 
      p(class='text')
      p(class='text')
      p(class='text') 
      p(class='subheading') Get the best car loan for you
      p(class='text') Most people shop around before they choose a car. You should also shop around before you choose a car loan. It can save you thousands in interest and help you pay off your car faster.

      p(class='subheading') Compare loans before visiting a car dealer
      p(class='text') It's important to look at loans before you go to a car dealership. You'll be able to negotiate better, as you'll know:

      p(class='subheading') 
      p(class='text') - Exactly how much you can spend
      p(class='text') - The best interest rate you can get
      p(class='text') - How much your repayments will be
      p(class='text')

      p(class='subheading') 
      p(class='text') 