doctype html
// Home page
- var appname = 'loanapp';
- var title = 'How Interest Works';
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/css/loanapp.css')
  body(onload='toggle("loanContentsMenu")')
    div(class='header')
      include header.pug
    div(class='menubar')
      include menu.pug
    div(class='body')
      p(class='subheading') How Interest Works
      p(class='text')
      p(class='text') There are two main types of interest:
      p(class='text') Fixed Interest: Stays the same over the life of the loan. Predictable.
      p(class='text') Variable Interest: Changes based on the market rate. Payments may go up or down.
      p(class='subheading') Example:
      p(class='text') Borrow $1,000 at 10% annual interest for 1 year → repay $1,100.
      p(class='text') If you borrowed £1,000 at an annual interest rate of 16.9%, after a year you would owe £1,169.
      p(class='text') Compound interest (interest on interest) can make loans more expensive over time.
      p(class='text')
      p(class='subheading') How interest rate is determined
      span(class='subheading') Central banks 
      span Central banks (like the Bank of England, Federal Reserve, European Central Bank) set a “base rate” or “policy rate”, the benchmark for short-term borrowing between banks.
      p(class='text')
      span(class='subheading') Commercial banks 
      span Then commercial banks use this as a reference to set the rates they offer to customers, adding their own margins based on risk, operating costs, and desired profit.
      p(class='text')
      span(class='subheading') Market conditions 
      span Inflation, economic growth, supply and demand for credit, and expectations about the future influence interest rates too.
      p(class='text')
      p(class='text')
      p(class='text')