doctype html
// Home page
- var appname = 'loanapp';
- var title = 'Loan Eligibility And Credit Score';
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/css/loanapp.css')
  body(onload='toggle("loanContentsMenu")')
    div(class='header')
      include header.pug
    div(class='menubar')
      include menu.pug
    div(class='body')

      p(class='subheading') 
      p(class='text') Lenders look at:
      p(class='subheading') Income
      p(class='text') What it means: Your total earnings from employment, business, or other sources.
      p(class='text') Why it's important: Lenders want to ensure you can afford the loan repayments.
      p(class='text') What they assess:
      p(class='text') Regularity and stability of income
      p(class='text') Total monthly or annual income
      p(class='text') Debt-to-income (DTI) ratio: how much of your income is already going toward debt
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
       
      p(class='subheading') Employment stability
      p(class='text')
      p(class='text')
      p(class='subheading') Credit history and score
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text') Higher credit scores mean better loan offers. Missed payments or existing debt can reduce eligibility.
      p(class='text')
    