doctype html
// Home page
- var appname = 'loanapp';
- var title = 'Loan Eligibility And Credit Score';
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/css/loanapp.css')
  body(onload='toggle("loanContentsMenu")')
    div(class='header')
      include header.pug
    div(class='menubar')
      include menu.pug
    div(class='body')

      p(class='subheading') 
      p(class='text') Lenders look at:
      p(class='subheading') Income
      p(class='text') What it means: Your total earnings from employment, business, or other sources.
      p(class='text') Why it's important: Lenders want to ensure you can afford the loan repayments.
      p(class='text') What they assess:
      p(class='text') Regularity and stability of income
      p(class='text') Total monthly or annual income
      p(class='text') Debt-to-income (DTI) ratio: how much of your income is already going toward debt
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
       
      p(class='subheading') Employment stability
      p(class='text')
      p(class='text')
      p(class='subheading') Credit history and score
      p(class='subheading') Credit Score
      p(class='text') A credit Score is a prediction of your credit behavior, such as how likely you are to pay a loan back on time, based on information from your credit reports.
      p(class='text')
      p(class='text') Companies use credit scores to make decisions on whether to offer you a mortgage, credit card, auto loan, and other credit products, as well as for tenant screening and insurance. They are also used to determine the interest rate and credit limit you receive.
      p(class='text') Companies use a mathematical formula called a scoring model to create your credit score from the information in your credit report.
      p(class='text')
      p(class='subheading') What factors impact my credit score? 
      p(class='text') Factors that are typically taken into account by credit scoring models include: 
      p(class='text') Your bill-paying history
      p(class='text') Your current unpaid debt
      p(class='text') The number and type of loan accounts you have 
      p(class='text') How long you have had your loan accounts open
      p(class='text') How much of your available credit you are using 
      p(class='text') New applications for credit
      p(class='text') Whether you have had a debt sent to collection, a foreclosure, or a bankruptcy, and how long ago 
      p(class='text')
      p(class='text') You do not have just “one” credit score. Each credit score depends on the data used to calculate it, and it may differ depending on the scoring model (which itself may depend on the type of loan product the score will be used for), the source of the data used, and even the day when it was calculated.
      p(class='text')
      p(class='text') Usually a higher score makes it easier to qualify for a loan and may result in a better interest rate or loan terms.
      p(class='text') Higher credit scores mean better loan offers. Missed payments or existing debt can reduce eligibility.
      p(class='text') 
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text') 
      p(class='text')
    