doctype html
// Home page
- var appname = 'loanapp';
- var title = 'Loan Eligibility And Credit Score';
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/css/loanapp.css')
  body(onload='toggle("loanContentsMenu")')
    div(class='header')
      include header.pug
    div(class='menubar')
      include menu.pug
    div(class='body')

      p(class='subheading') 
      p(class='text') Lenders look at:
      p(class='subheading') Income
      p(class='text') What it means: Your total earnings from employment, business, or other sources.
      p(class='text') Why it's important: Lenders want to ensure you can afford the loan repayments.
      p(class='text') What they assess:
      p(class='text') Regularity and stability of income
      p(class='text') Total monthly or annual income
      p(class='text') Debt-to-income (DTI) ratio: how much of your income is already going toward debt
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
       
      p(class='subheading') Employment stability
      p(class='text')
      p(class='text')
      p(class='subheading') Credit history and score
      p(class='subheading') Credit Score
      p(class='text') A credit Score is a prediction of your credit behavior, such as how likely you are to pay a loan back on time, based on information from your credit reports.
      p(class='text')
      p(class='text') Companies use credit scores to make decisions on whether to offer you a mortgage, credit card, auto loan, and other credit products, as well as for tenant screening and insurance. They are also used to determine the interest rate and credit limit you receive.
      p(class='text') Companies use a mathematical formula called a scoring model to create your credit score from the information in your credit report.
      p(class='text')
      p(class='subheading') What factors impact my credit score? 
      p(class='text') Factors that are typically taken into account by credit scoring models include: 
      p(class='text') Your bill-paying history
      p(class='text') Your current unpaid debt
      p(class='text') The number and type of loan accounts you have 
      p(class='text') How long you have had your loan accounts open
      p(class='text') How much of your available credit you are using 
      p(class='text') New applications for credit
      p(class='text') Whether you have had a debt sent to collection, a foreclosure, or a bankruptcy, and how long ago 
      p(class='text')
      p(class='text') You do not have just “one” credit score. Each credit score depends on the data used to calculate it, and it may differ depending on the scoring model (which itself may depend on the type of loan product the score will be used for), the source of the data used, and even the day when it was calculated.
      p(class='text')
      p(class='text') Usually a higher score makes it easier to qualify for a loan and may result in a better interest rate or loan terms.
      p(class='text') Higher credit scores mean better loan offers. Missed payments or existing debt can reduce eligibility.
      p(class='text') 
      p(class='subheading') What is a credit report?
      p(class='text') A credit report is a statement that has information about your credit activity and current credit situation such as loan paying history and the status of your credit accounts.
      p(class='text')
      p(class='text') Most people have more than one credit report. Credit reporting companies, also known as credit bureaus or consumer reporting agencies, collect and store financial data about you that is submitted to them by creditors, such as lenders, credit card companies, and other financial companies. Creditors are not required to report to every credit reporting company.
      p(class='text')
      p(class='text') Lenders use these reports to help them decide if they will loan you money, what interest rates they will offer you. Lenders also use your credit report to determine whether you continue to meet the terms of an existing credit account. Other businesses might use your credit reports to determine whether to offer you insurance; rent a house or apartment to you; provide you with cable TV, internet, utility, or cell phone service. If you agree to let an employer look at your credit report, it may also be used to make employment decisions about you.
      p(class='text')
      p(class='subheading') What kind of information appears on a credit report?
      p(class='text') Credit reports often contain the following information:
      p(class='text') 
      p(class='text') Personal information
      p(class='text')
      p(class='text') - Your name and any name you may have used in the past in connection with a credit account, including nicknames
      p(class='text') - Current and former addresses
      p(class='text') - Birth date
      p(class='text') - Social Security number
      p(class='text') - Phone numbers
      p(class='text')
      p(class='text') Credit accounts
      p(class='text')
      p(class='text') - Current and historical credit accounts, including the type of account (mortgage, installment, revolving, etc.)
      p(class='text') - The credit limit or amount
      p(class='text') - Account balance
      p(class='text') - Account payment history
      p(class='text') - The date the account was opened and closed
      p(class='text') - The name of the creditor
      p(class='text')
      p(class='subheading') Collection items
      p(class='text')
      p(class='text') - Missed payments
      p(class='text') - Loans sent to collections
      p(class='text') - Information on overdue child support provided by a state or local child support agency or verified by any local, state, or federal government agency
      p(class='text')
      p(class='subheading') Public records
      p(class='text')
      p(class='text') - Foreclosures
      p(class='text') - Bankruptcies
      p(class='text') - Civil suits and judgments
      p(class='text')
      p(class='subheading') Inquiries 
      p(class='text')
      p(class='text') - Companies that have accessed your credit report.
      p(class='text') 
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
    