doctype html
// Home page
- var appname = 'loanapp';
- var title = 'Payday Loans'
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/css/loanapp.css')
  body(onload='toggle("loanTypeMenu")')
    div(class='header')
      include header.pug
    div(class='menubar')
      include menu.pug
    div(class='body')
      p(class='text') Payday loans are short-term, small-sum loans designed to be repaid on or shortly after the borrower's next payday. They are often used for unexpected expenses and can be easily obtained, but typically come with high interest rates and fees. 
      p(class='text')
      p(class='subheading') Key characteristics of payday loans:
      p(class='text') Short-term:
      p(class='text') Repayment is usually expected within a few weeks, often tied to the borrower's next payday. 
      p(class='text') Small amounts:
      p(class='text') Loan amounts typically range from £50 to £1,000. 
      p(class='text') High interest rates:
      p(class='text') Interest rates are significantly higher than those of traditional loans.
      p(class='text') Easy to access
      p(class='text') Payday loans are relatively easy to obtain, even for those with poor credit history, although this can lead to higher fees. 
      p(class='text') 
      p(class='subheading') Potential problems with payday loans: 
      p(class='text') High Cost:
      p(class='text') The high interest rates and fees can make it difficult to repay the loan, potentially leading to a cycle of debt. 
      p(class='text')
      p(class='text') Rollover/extension issues:
      p(class='text') Some lenders allow borrowers to extend the loan term, but this usually involves paying additional fees and interest, further increasing the cost. 
      p(class='text')
      p(class='text') Negative impact on credit score:
      p(class='text') While a payday loan itself may not significantly damage your credit score, late or missed payments can have a detrimental effect. 
      p(class='text')
      p(class='subheading') Alternatives to payday loans:
      p(class='text') Overdraft:
      p(class='text') Consider using an overdraft facility with your bank, which may have lower interest rates. 
      p(class='text')
      p(class='text') Credit cards:
      p(class='text') If you have a credit card, using it to cover expenses could be a more affordable option. 
      p(class='text')
      p(class='text') Negotiate with creditors:
      p(class='text') Try to negotiate with your creditors to arrange a more manageable repayment plan. 
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
      p(class='text')
    